<h1>WikiPage#edit</h1>

<%= form_with(model: @page) do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title  %>
  <br/>
  <%= form.label :Content %>
  <%= form.text_area :content %>
  <br/>
  <p>
    <button class="waves-effect waves-light btn orange accent-3" type="submit" name="action">Update Page
    </button>
  </p>
<% end %>

<%= button_to 'Back', wiki_page_index_url, method: :get, class: "waves-effect waves-light btn blue accent-4"%>



