<h1>WikiPage#edit</h1>

<%= form_with(model: @page) do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title  %>
  <br/>
  <%= form.label :Content %>
  <%= form.text_area :content %>
  <br/>
  <%= form.submit 'Update Page' %>
<% end %>

<%= link_to 'Back', wiki_page_index_url %>



