<head>
  <meta charset="utf-8">
  <script src="https://cdn.ckeditor.com/ckeditor5/11.1.1/decoupled-document/ckeditor.js"></script>
</head>

<h2>Edit Page</h2>

<%= form_for @page do |form| %>
  <%= form.fields_for :revisions, @page.current_revision.dup do |ff| %>
    <div>
      <%= ff.label :title %>
      <%= ff.text_field :title %>

      <div id="toolbar-container"></div>
      <div id="editor">
          <p>This is the initial editor content.</p>
      </div>
      <%= ff.hidden_field :content, id: "editor1" %>


      <textarea name="content" id="editor2">Click Fill Editor Button Below!</textarea>

    <script>
      let editor;
      DecoupledEditor
        .create( document.querySelector( '#editor' ), {
            cloudServices: {
              tokenUrl: 'https://36001.cke-cs.com/token/dev/AnjGac7d1O2H6D9i4B3VteXwt76XanuPf69L5rqzcdJ8zrOLcktEMAD0i5Iu',
              uploadUrl: 'https://36001.cke-cs.com/easyimage/upload/'
            }
        } )
        .then( NewEditor => {
          editor = NewEditor;
          const toolbarContainer = document.querySelector( '#toolbar-container' );
          toolbarContainer.appendChild( editor.ui.view.toolbar.element );
          addtext();
        } )
        .catch( error => {
          console.error( error );
        } );

      function updateThing() {
        var text = document.getElementById('editor1');
        text.value = editor.getData();
      }

      function addtext() {
        var text = document.getElementById('editor1');
        editor.setData(text.value);
      }

    </script>
    </div>
  <% end %>
  <p>
    <button class="waves-effect waves-light btn orange accent-3" type="submit" name="action" onclick="updateThing();">
      Update Page</button>
  </p>
<% end %>

<%= button_to 'Back', wiki_page_index_url, method: :get, class: "waves-effect waves-light btn blue accent-4"%>

