<h1>Create a new Wiki page</h1>

<%= form_for @page, url: wiki_page_index_url do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title  %>
  <br/>
  <%= form.label 'Content' %>
  <%= form.text_area :content %>
  <br/>
  <%= form.submit 'Create Page' %>
<% end %>

<%= link_to 'Back', wiki_page_index_url %>

</br></br></br>I DONT KNOW RUBY AND HOW TO GET QUILLSJS WORKING LMAO </br></br></br>
<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<!-- Create the editor container -->
<div id="editor">
  <p>Hello World!</p>
  <p>Some initial <strong>bold</strong> text</p>
  <p><br></p>
</div>

<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
  var quill = new Quill('#editor', {
    theme: 'snow'
  });
</script>