<h1>Create a new Wiki page</h1>

<%= form_for @page, url: wiki_page_index_url do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title  %>
  <br/>
  <%= form.label 'Content' %>
  <%= form.text_area :content %>
  <br/>
  <%= form.submit 'Create Page' %>
<% end %>

<%= link_to 'Back', wiki_page_index_url %>
