<head>
    <meta charset="utf-8">
    <title>CKEditor</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/11.1.1/classic/ckeditor.js"></script>
  </head>
<h2>Create a New Wiki Page</h2>


<%= form_for @page, url: wiki_page_index_url do |form| %>
  <%= form.fields_for :revisions, Revision.new do |ff| %>
  <div>
    <%= ff.label :title %>
    <%= ff.text_field :title %>

    <%= ff.hidden_field :content, id: "editor1" %>


    <textarea name="content" id="editor">This is some sample content.</textarea>
    <script>
      let editor;
      ClassicEditor
        .create( document.querySelector( '#editor' ), {
            cloudServices: {
              tokenUrl: 'https://36001.cke-cs.com/token/dev/AnjGac7d1O2H6D9i4B3VteXwt76XanuPf69L5rqzcdJ8zrOLcktEMAD0i5Iu',
              uploadUrl: 'https://36001.cke-cs.com/easyimage/upload/'
            }
        } )
        .then( NewEditor => {
          editor = NewEditor;
        } )
        .catch( error => {
          console.error( error );
        } );

      function addtext() {
        var text = document.getElementById('editor1');
        text.value += editor.getData();
      }

    </script>


  </div>

  

<% end %>
  <p>
    <button class="waves-effect waves-light btn orange accent-3" id="submit" type="submit" name="action" onclick="addtext();">Create Page
    </button>
  </p>

<% end %>

<%= button_to 'Back', wiki_page_index_url, method: :get, class: "waves-effect waves-light btn blue accent-4"%>
