<h1><%= @current_revision.title %></h1>
<% if user_signed_in? && current_user.admin %>
    <div id="admin-controls">
        <h2>Admin Controls</h2>
        <%= button_to 'Lock Me?', @page, method: :lock, :class => "waves-effect waves-light btn orange accent-3" %>
        <%= button_to 'Delete Me?', @page, method: :delete, :class => "waves-effect waves-light btn red accent-3" %>
    </div>
<% end %>

<p>Last updated by <%= @current_revision.user.username %> at <%= @current_revision.updated_at %></p>
<%= raw @current_revision.content %>

<hr>
<h2>Previous Versions</h2>
<table>
    <tr>
        <th>Created at</td>
        <th>User</td>
        <th></th>
    </tr>
    <% @revisions.each do |revision| %>
        <tr>
            <td><%= revision.updated_at %></td>
            <td><%= revision.user.username %></td>
            <td><%= link_to "View this version", "#" %></td>
        </tr>
    <% end %>
</table>