<h2># This is the Admin Page</h2>
<h4> Banned IP Addresses </h4>
<%= form_tag(admin_unblock_ip_url, method: :get) do %>
  <% @list.each do |ip| %>
    <p>
      <label>
        <%= check_box_tag 'ip_addresses', ip, false %>
        <span><%= ip %></span>
      </label>
    </p>

  <% end %>
  <%= submit_tag 'unblock ip' %>
<% end %>

<h4>User's IP Addresses</h4>
<%= form_tag(admin_block_ip_url, method: :get) do %>
  <% @user_ips.each do |user| %>
    <% unless @black_list.is_blacklisted? user.last_sign_in_ip %>
      <p>
          <label>
            <%=  check_box_tag 'ip_addresses', user.last_sign_in_ip, false  %>
            <span><%= "#{user.email} ip address: #{user.last_sign_in_ip}" %></span>
          </label>
      </p>
    <%  end %>
  <% end %>
  <%= submit_tag 'Block Ips' %>
<% end %>

<% if flash[:error] != nil %>
  <script>
    M.Toast({html: <%= flash[:error] %>, duration: 200 });
  </script>
<% end %>
