<h2>Forgot Your Password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <p>
      <button class="waves-effect waves-light btn orange accent-3" type="submit" name="action">
        Send me password reset instructions
      </button>
    </p>
  </div>
<% end %>

<!--TODO add buttons for these links-->
<%= render "devise/shared/links" %>
