<!-- <div class= "container"> -->

<nav margin: 0;>  
    <div class="nav-wrapper blue-grey darken-1">
      <a href="#" class="brand-logo center">WIKI PAGE</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "User Login", controller: "test", action: "user" %></li>
        <li><%= link_to "Admin Login", controller: "test", action: "admin" %></li>
      </ul>
    </div>
  </nav>


  <!-- </div> --> 

  <div class= "container" >
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<!--<h3>This is a sample home page</h3> -->

<% if user_signed_in? %>
<p><strong>YOU ARE SIGNED IN AS A USER&nbsp;</strong> <%= link_to('Logout', destroy_user_session_path, method: :delete) %></p> 
<% elsif admin_signed_in? %>
<p><strong>YOU ARE SIGNED IN AS AN ADMIN&nbsp;</strong><%= link_to('Logout', destroy_admin_session_path, method: :delete) %></p> 
<% end %>

<!--<p><%= link_to "Go to a page only Users (and Admins) can access", controller: "test", action: "user" %><br>
<%= link_to "Go to a page only Admins can access", controller: "test", action: "admin" %></p> -->


<p><%= link_to "Go to a Random Wiki Page", controller: "wiki_page", action: "random" %></p>
<p><%= link_to "See a List of all created Wiki pages", controller: "wiki_page", action: "index" %></p>
  </div>
