<!DOCTYPE html>
<html>
  <head>
    <title>Wiki</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav style="margin: 0;">
      <div class="nav-wrapper blue-grey darken-1">
        <%= link_to 'WIKI PAGE', {:controller  => "/wiki_page" , :action => :index}, {:class => "brand-logo center"} %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to "User Login", :controller => "/test", :action => :user %></li>
          <li><%= link_to "Admin Login", :controller => "/test", :action => :admin %></li>
        </ul>
      </div>
    </nav>

  <div class= "container" >
    <%= yield %>
  </div>

  </body>
</html>
